{% load solved %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div style="border: solid 1px black; margin: 10px">
    {% if user.is_authenticated %}
        Zalogowano jako {{ user }}. <a href="{% url 'accounts:logout' %}">Wyloguj.</a>
    {% else %}
        Nie jesteś zalogowany. <a href="{% url 'accounts:login' %}">Zaloguj.</a>
    {% endif %}
</div>
<ul>
    {% for quiz in quizes %}

        {% solved quiz as solved %}

        <li>
            {% if not solved %}
                <a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a>
            {% else %}
                {{ quiz.name }} - Twój wynik: {{ solved }} %
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>
