{% extends 'base.html' %}

{% load solved %}

{% block content %}
    {% if messages %}
{#      TODO: style me #}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
{#      TODO: style me #}
        {% for quiz in quizes %}

            {% solved quiz as solved %}

            <li>
                {% if not solved %}
                    <a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a>
                {% else %}
                    {{ quiz.name }} - Twój wynik: {{ solved }} %
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
