{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">QUIZ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% include 'login_box.html' %}
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <img src="{% static 'images/logo.jpg' %}" alt="QUIZ" class="img-rounded logo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include 'sidebar.html' %}
        </div>

        <div class="col-sm-9 col-md-10 main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
